---
import Projects from "./projects/Projects.en.astro";
import Studies from "./studies/Studies.en.astro";
import About from "./about/About.en.astro";
import Skills from "./skills/Skills.en.astro";
import Home from "./home/Home.en.astro";

---

<main>
  <div class="container_p">
    <Home />
    <Projects />
    <Skills />
    <Studies />
    <About />
  </div>
</main>
